/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 7, 2018, 1:08:05 PM
    Author     : Hesham Alatrash - Heshamoov90@Gmail.com
*/
input[type=text],input[type=password], select {
    max-width: 120px;
    display: inline-block;
    border: 1px solid white;
    box-sizing: border-box;
    font-size: 17px;}

textarea {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #009688;
    font-size: 16px;
}
#students, #students th, #students td {
    width: 100%;
    border : 1px solid black;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    table-layout: fixed;
}
table,th,td {
    width: 100%;
    background-color: white;
    text-align: center;
}

#admission_no,#grade,#batch,#family_id {
    width: 140px;
}
th {
    /*padding-bottom: 5px;*/
    background-color: #009688;
    color: white;
}

tr:nth-child(even) {background-color: #f2f2f2;}

#lefttabel
{
    width: 100%;
    border: 2px solid #009688;
}
#lefttabel th
{
    text-align: center;
    border: none;   
}
#search-student, #save2db, #search-marks, #marks2db, #display, #importDetails   {
    width: 90%;
    background-color: #009688; color: white;
    /*padding: 0px 0px;*/
}
#generate-button, #generate-report
{
    width: 80%; 
    background-color: #009688; color: white;
    padding: 10px 10px 10px;
    margin-left: 10%;
    position: static;
}
#search-student:hover,#savedb:hover, #search-marks:hover, #markdb:hover
,#generate-report:hover, #generate-button:hover, #search-marks:hover, #display:hover{
    background-color: white; /* Green */
    color: black;
}

#btns, #btns tr, #btns td
{
    border: none;
    padding: 0px 0px;
    font-size: 15px;
    width: 110%;
    table-layout: fixed;
    text-align: justify;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: white;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555;
}

*{
    box-sizing: border-box;
}


